* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    background: #111;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 90px;

    text-shadow:
        0 0 10px white,
        0 0 20px white,
        0 0 40px white;
}

.hero p {
    margin-top: 20px;
}

.section {
    padding: 120px 10%;
}

.section h2 {
    margin-bottom: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    padding: 25px;
    border-radius: 15px;
    background: #111;
    border: 1px solid #222;
}

.card:hover {
    transform: translateY(-5px);
}

.categoria {
    margin-bottom: 50px;
}

#redes {
    text-align: center;
}

#redes i {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}
.botao-whatsapp {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    margin-top: 20px;
    padding: 15px 30px;

    border-radius: 10px;

    background: #25d366;

    color: white;
    text-decoration: none;

    transition: 0.3s;
}

.botao-whatsapp:hover {
    transform: scale(1.05);
}

.botao-whatsapp i {
    font-size: 20px;
}
